body{
  margin: 0;
  padding: 0 0 100px 0;
  font-family: sans-serif;
  /* overflow-x: hidden; */
}
.musicApp{
background-image: url("/musicapp/public/musicPic.jpg");
background-attachment: fixed;
background-position: center;
}

.musicHeader {
  background-color: #282c34;
  height: 100px;

  display: block;
  font-size: calc(10px + 2vmin);
  color: white;
}

.player{
  text-align: center;
  background-image: url("/musicapp/public/musicPic.jpg");
}



